*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .row{
    display: flex;
    /* align-items: center; */
    flex-wrap:wrap;
    justify-content: space-around;
    margin:20px auto;
    width:80%;
    }
    html ,body{
        width:100vw;
        height:100vh;
        text-rendering: optimizeLegibility;
        overflow-x: hidden;
        font-size:16px;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        background-color: #f5f5f5;
        position: relative;
    }
    body::-webkit-scrollbar {
      width: .25vw;
    }
    
    body::-webkit-scrollbar-thumb {
    background-color: red;
    }
    body::-webkit-scrollbar-track
    {
      background-color: black;
    }


    header
    {
        height:85vh;
        width:100vw;
        background-position: center;
        background-size: cover;
        margin-bottom: 20px;
        overflow-x:hidden ;
    }
    .header-box{
      position:absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
      width:100%;
    }
    a{
      text-decoration: none;
    }
    .btn
    {
      width:7rem;
      height:2rem;
      background-color: red;
      color:white;
      border-radius: 20px;
      border:none;
      outline:none;
      display: block;
      margin: 20px auto;
      padding:2px 4px;
      text-transform: uppercase;
    }
    .btn:hover
    {
      cursor: pointer;
      background-color: rgb(233, 52, 52);
    }
    .header-box h1{
      font-size: 3rem;
      text-align:center;
      line-height: 1.7;
      letter-spacing: 5px;
      font-weight: 500;
      color:white;
      text-transform: uppercase;
      transition: text-shadow,margin-bottom .3s ease-out;
    }
    .category
    {
        width:70%;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto;
        height:auto;
    }
    .category_main
    {
        display: flex;
        height:60px;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(228, 27, 27, 0.463);
        color:white;
        padding:0 10px;
    }
    .wrapper
    {
       height:0;
       overflow:hidden;
       transition: all 1s ease-out;
       border-bottom-left-radius: 10px;
       border-bottom-right-radius: 10px;
    }
    .wrapper div
    {
        height:40px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .dropdown
    {
        transition: all .5s linear;
    }
    .wrapper div:hover
    {
        background-color: rgba(0,0,0,0.3);
        color:white;
    }
    .logo_img
    {
      width:75px;
    }

/***************** MAIN SECTION ******************/


    .main_heading
    {
        text-align:center;
        font-size:1.9rem;
        text-transform: uppercase;
        padding:80px 0px;
    }
    .main_heading:after
    {
        display:block;
        height:2px;
        width:70px;
        background-color:red;
        content:" ";
        margin:20px auto;
        transform: translateY(0);

        /* #ffcccb */
    }
    .first_box , .second_box
    {
        width:48%;
        background-color: white;
        border-radius:8px;
        padding-bottom: 20px;
    }
    .middle_box
    {
      width:50%;
      background-color: white;
      border-radius:8px;
      padding-bottom: 20px;
    }
    /* .contents
    {
       background-color: white; 
      margin-top: 30px;
    } */
    .img_box
    {
      width:50%;
      background-color: white;
      border-radius:8px;
      padding-bottom: 20px;
      margin: auto;
    }

    .title
    {
        display: flex;
        align-items: center;
        width:100%;
        /* background-color: #ffcccb; */
        background-color: rgba(228, 27, 27, 0.463);
        height:auto;
        padding:10px 20px;
        color:white;
        text-transform: uppercase;
        margin-bottom: 10px;
        border-radius:8px 8px 0 0;
        margin-top: 0px;
    }
    .internal_product-list
    {
        margin-left: 10px;
        padding:20px;
    }
    .internal_product-list p i
    {
        margin-right: 5px;
    }
    .internal_product-list p
    {
        line-height: 1.4;
        font-size: 1.2rem;
    }















    @media screen and  (max-width:1200px)
{
    html,body
    {
        font-size:14px;
        overflow-x: hidden;
    }
}

@media screen and  (max-width:1024px)
{
    html,body
    {
        font-size:12px;
        overflow-x: hidden;
    }
    .main_heading
    {
        padding:45px 0;
    }
    .btn
    {
      width:8rem;
    }
}

@media screen and (max-width:768px)
{
    html,body
    {
        font-size: 10px;
    }
    .row
    {
        width:90%;
    }
    .btn
    {
      width:11rem;
      height:3.6rem;
      text-align: center;
    }
}


@media screen and (max-width:425px)
{
    .logo_img {
      width: 60px;
      padding-top: 10px;
      }
    .first_box,.second_box,.middle_box
    {
        display: block;
        width:90%;
        padding-bottom: 10px;
        margin-bottom: 20px;
        min-height:200px;
    }
    .internal_product-list {
        margin-left: 16px;
    }
    .row
    {
        margin:auto;
    }
    .category
    {
      width:96%;
    }
    .quick-links,.social-links
    {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-links
    {
        justify-content: center;
        align-items: center;
    }
}



/************* NAVBAR **********************/
.wrappers{
    background: #171c24;
    position: fixed;
    width: 100%;
    z-index: 10;
  
  }
  .wrappers a
  {
      text-decoration: none;
  }
  .wrappers nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 65px;
    align-items: center;
    justify-content: space-between;
  }
  nav .content{
    display: flex;
    align-items: center;
  }
  nav .content .links{
    margin-left: 80px;
    display: flex;
  }
  .content .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
  }
  .content .links li{
    list-style: none;
    line-height: 70px;
  }
  .content .links li a,
  .content .links li label{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .content .links li label{
    display: none;
  }
  .content .links li a:hover,
  .content .links li label:hover{
    background: #323c4e;
  }
  .wrappers .menu-icon{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
  }
  .wrappers .menu-icon{
    display: none;
  }
  
  
  .wrappers input[type="checkbox"]{
    display: none;
  }

  /* Dropdown Menu code start */
  .content .links ul{
    position: absolute;
    background: #171c24;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }
  .content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
  .content .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
  }
  .content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
  }
  .content .links ul li{
    position: relative;
  }
  .content .links ul li:hover ul{
    top: 0;
  }
  /* Responsive code start */
  @media screen and (max-width: 1250px){
    .wrappers nav{
      max-width: 100%;
      padding: 0 20px;
    }
    nav .content .links{
      margin-left: 30px;
    }
    .content .links li a{
      padding: 8px 13px;
    }
    .wrappers .search-box{
      max-width: calc(100% - 100px);
    }
    .wrappers .search-box input{
      padding: 0 100px 0 15px;
    }
  }
  @media screen and (max-width: 900px){
    .wrappers .menu-icon{
      display: block;
    }
    .wrappers #show-menu:checked ~ .menu-icon i::before{
      content: "\f00d";
    }
    nav .content .links{
      display: block;
      position: fixed;
      background: #14181f;
      height: 100%;
      width: 100%;
      top: 65px;
      left: -100%;
      margin-left: 0;
      max-width: 350px;
      overflow-y: auto;
      padding-bottom: 100px;
      transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
      left: 0%;
    }
    .content .links li{
      margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
      line-height: 40px;
      font-size: 20px;
      display: block;
      padding: 8px 18px;
      cursor: pointer;
    }
    .content .links li a.desktop-link{
      display: none;
    }
    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul{
      position: static;
      opacity: 1;
      visibility: visible;
      background: none;
      max-height: 0px;
      overflow: hidden;
    }
    .content .links #show-features:checked ~ ul,
    .content .links #show-services:checked ~ ul,
    .content .links #show-items:checked ~ ul{
      max-height: 100vh;
    }
    .content .links ul li{
      margin: 7px 20px;
    }
    .content .links ul li a{
      font-size: 18px;
      line-height: 30px;
      border-radius: 5px!important;
    }
  }
  @media screen and (max-width: 400px){
    .wrappers nav{
      padding: 0 10px;
    }
    .content .logo a{
      font-size: 27px;
    }
  }
  a{
      text-decoration: none;
      color:black;
  }

  .quick_info
{
  width:100%;
  background-color: black;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  color:white;
}
  .sticky
{
  top:0;
}
/************** FOOTER *****************/

footer
{
    background-color: #333;
    padding: 30px 0;
    margin-top: 50px;
}
.footer-links
{
  display: flex;
  align-items: center;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width:80%;
}
.quick-links,.social-links
{
  list-style: none;
  margin-bottom: 10px;
}
.quick-links li , .social-links li
{
  display: inline-block;
  color:#888;
  margin-right: 10px;
}
.quick-links li a , .social-links li a
{
  text-decoration: none;
  color: #888;
}
.quick-links li a:hover , .social-links li a:hover
{
  color:white;
}
footer p
{
    text-align: center;
    color:white;
    font-size: 0.9rem;
    padding-top:50px;
}

