*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row {
    max-width:1200px;
    margin:0 auto;
}
html ,body{
    width:100vw;
    height:auto;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-size:16px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  width: .25vw;
}

body::-webkit-scrollbar-thumb {
background-color: red;
}
body::-webkit-scrollbar-track
{
  background-color: black;
}




/* ******************************header ****************** */

header{
    width:100vw;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("images/jeriden-villegas-VLPUm5wP5Z0-unsplash-min-min.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
header .heading{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    color:white;
    text-align:center;
}
header .heading h1{
    font-size:3rem;
    line-height:1.7;
    letter-spacing: 2px;
    font-weight: 500;
    transition: text-shadow,margin-bottom .3s ease-out;
}
header .heading h1:hover{
    text-shadow: 0px 0px 10px #fff,
                 0px 0px 20px #fff,
                 0px 0px 30px #fff;
    margin-bottom: 20px;
}
header .heading h3{
    font-size: 1.4rem;
    font-weight:300;
    letter-spacing: 1.2px;
}

/*  quick info tab */

.quick_info
{
  width:100%;
  background-color:rgba(0,0,0,0.7);
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  color:white;
  font-size: 14px;
}
.quick_info div:first-child
{
  width:70%;
}
.quick_info div:last-child
{
  width:20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}
.quick_info i
{
  margin-right: 6px;
}
/* **************************NAVBAR ********************/

.sticky
{
  top:0;
}

.wrappers{
    background: #171c24;
    position: fixed;
    width: 100%;
    z-index:10;
    transition:.1s ease-out;
  }
  .wrappers a
  {
      text-decoration: none;
  }
  .wrappers nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 65px;
    align-items: center;
    justify-content: space-between;
  }
  nav .content{
    display: flex;
    align-items: center;
  }
  nav .content .links{
    margin-left: 80px;
    display: flex;
  }
  .content .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
  }
  .content .links li{
    list-style: none;
    line-height: 70px;
  }
  .content .links li a,
  .content .links li label{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .content .links li label{
    display: none;
  }
  .content .links li a:hover,
  .content .links li label:hover{
    background: #323c4e;
  }
  .wrappers .menu-icon{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
  }
  .wrappers .menu-icon{
    display: none;
  }
  
  
  .wrappers input[type="checkbox"]{
    display: none;
  }
  .logo_img
  {
    width: 75px;
    height:auto;
    padding-top: 3px;;
  }
  /* Dropdown Menu code start */
  .content .links ul{
    position: absolute;
    background: #171c24;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }
  .content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
  .content .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
  }
  .content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
  }
  .content .links ul li{
    position: relative;
  }
  .content .links ul li:hover ul{
    top: 0;
  }
  /* Responsive code start */
  @media screen and (max-width: 1250px){
    .wrappers nav{
      max-width: 100%;
      padding: 0 20px;
    }
    nav .content .links{
      margin-left: 30px;
    }
    .content .links li a{
      padding: 8px 13px;
    }
    .wrappers .search-box{
      max-width: calc(100% - 100px);
    }
    .wrappers .search-box input{
      padding: 0 100px 0 15px;
    }
  }
  @media screen and (max-width: 900px){
    .wrappers .menu-icon{
      display: block;
    }
    .wrappers #show-menu:checked ~ .menu-icon i::before{
      content: "\f00d";
    }
    nav .content .links{
      display: block;
      position: fixed;
      background: #14181f;
      height: 100%;
      width: 100%;
      top: 70px;
      left: -100%;
      margin-left: 0;
      max-width: 350px;
      overflow-y: auto;
      padding-bottom: 100px;
      transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
      left: 0%;
    }
    .content .links li{
      margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
      line-height: 40px;
      font-size: 20px;
      display: block;
      padding: 8px 18px;
      cursor: pointer;
    }
    .content .links li a.desktop-link{
      display: none;
    }
    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul{
      position: static;
      opacity: 1;
      visibility: visible;
      background: none;
      max-height: 0px;
      overflow: hidden;
    }
    .content .links #show-features:checked ~ ul,
    .content .links #show-services:checked ~ ul,
    .content .links #show-items:checked ~ ul{
      max-height: 100vh;
    }
    .content .links ul li{
      margin: 7px 20px;
    }
    .content .links ul li a{
      font-size: 18px;
      line-height: 30px;
      border-radius: 5px!important;
    }
  }
  @media screen and (max-width: 400px){
    .wrappers nav{
      padding: 0 10px;
    }
    .content .logo a{
      font-size: 27px;
    }
  }
  
/* **********************about section *********************/
.about-section{
    height:500px;
    display: flex;
    flex-direction: row;
    padding-top:150px;
    margin-bottom: 170px;
    width: 1200px;
}
.about-section_para,
.about-section_img
{
    width:50%;
    height:auto;
}
.about-section_img img{
    width:90%;
    height: auto;
    border-radius: 15px;
    margin-left: 30px;
}
.about-section_para
{
    padding:15px 60px;
    text-align: left;
    color:#555;
    line-height: 1.3;
}
.about-section_para h3{
    color:black;
    font-weight: 500;
    font-size:1.8rem;
    text-transform: uppercase;
    margin-bottom: 25px;
}
/*****************************  VISION MISSION SECTION ****************/
.vision_mission-section
{
  background-color: #f5f5f5;
  height:auto;
  padding: 100px 0;
  
}
.company-goals{
  display: flex;
  align-items: center;
  flex-wrap:wrap;
  justify-content: space-around;
  margin:0px auto;
  width:70%;
  height: 600px;
  }

  /*  color #80ccff 
      #0086b3
      #99cc00*/
  .card-1
  {
      background-color:#80ccff  ;
      transform: perspective(600px) rotateY(-5deg);
      box-shadow: 5px 5px 15px rgba(0,0,0,.5);
  }
  .card-1:hover,.card-3:hover
  {
      transform: translateY(-10px) scale(1.1);
      box-shadow: 5px 5px 40px rgba(0,0,0,.5);
  }
  .card-2
  {
      background-color:#0086b3  ;
      transform: translateY(-10px) scale(1.1);
      box-shadow: 5px 5px 40px rgba(0,0,0,.5);
  }
  .card-3
  {
      background-color:#99cc00  ;
      transform: perspective(600px) rotateY(5deg);
      box-shadow: -5px 5px 15px rgba(0,0,0,.5);
  }
  .card-1,.card-2,.card-3
  {
      width: 30%;
      height:500px;
      padding:20px;
      transition: all .5s ease-out;

  }
  .card-h1,.card-para
  {
      color:white;
  }
  .card-h1
  {
      margin-top: 25px;
      font-size: 2rem;
      text-transform: uppercase;
      align-items: center;
      text-align: center;
  }
  .card-para
  {
      margin-top: 2.5rem;
      padding: 0 15px;
      font-size: 1.3rem;
      text-align: center;
  }
  .cards
  {
      position: relative;
  }
  .cards i
  {
      position: absolute;
      bottom:2rem;
      right:2rem;
      font-size: 8rem;
      color:rgb(221, 94, 94);
  }


  @media  screen  and (max-width:1024px)
  {
      .company-goals
      {
          width: 96%;
      }
  }
  @media screen and (max-width:768px)
  {
      .vision_mission-section
      {
        height: 1500px;
      }
      .card-1,.card-2,.card-3
      {
          width:51%;
          margin-top: 30px;
          height:400px;
          transform: rotate(0);
      }
      .card-2:hover
      {
          transform: translateY(-10px) scale(1.1);
          box-shadow: 5px 5px 40px rgba(0,0,0,.5);
      }
  }
  @media screen and (max-width:425px)
  {
      .card-1,.card-2,.card-3
      {
          width:80%;
          margin-top: 40px;
      }
  }
  @media screen and (max-width:375px)
  {
      .card-1,.card-2,.card-3
      {
          width:90%;
          margin-top: 30px;
      }
  }
  @media screen and (max-width:325px)
  {
      .card-1,.card-2,.card-3
      {
          width:98%;
          margin-top: 30px;
      }
  .card-1:hover,.card-2:hover,.card-3:hover
  {
      transform: translateY(-6px) scale(1.05);
      box-shadow: 5px 5px 40px rgba(0,0,0,.5);
  }
  
  }


/*************************  SECTION PROFILE *************************/
.company_heading,.contact_heading
{
    text-align:center;
    font-size:1.9rem;
    text-transform: uppercase;
    padding-bottom:100px;
}
.company_heading:after,.contact_heading:after
{
    display:block;
    height:2px;
    width:150px;
    background-color:red;
    content:" ";
    margin:30px auto;
    transform: translateY(0);
}

.profile_section
{
    height:auto;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),  url("images/profile-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding:50px 10px;
    color:white;
}
.profile_section #ship-img
{
    display: block;
    margin: 0 auto;
}
.profile_section-h2
{
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight:400;
}
.profile_section-para
{
    text-align: center;
    padding-top:10px;
    text-transform: uppercase;
    color:yellow
}
.profile_section div 
{
    display: flex;
    width:45%;
    margin:0 auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.profile_section div h3
{
    text-transform: uppercase;
    font-weight: 400;
}
.profile_section-info
{
    width:70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    font-weight: 200;
}


/*********************** CONTACT FORM ******************/

.contact_heading
{
    padding-top: 70px;
}
.contact-form
{
    width:20%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.contact-form input
{
    display: block;
    width:100%;
    height:30px;
    outline: none;
}
.contact-form input[type="submit"]
{
    width:35%;
    display: block;
    margin:20px auto;
    cursor: pointer;
    background-color: white;
    outline:none;
    border:none;
    background-color: red;
    color:white;
    text-transform: uppercase;
}
.contact-form input[type="submit"]:hover
{
    background-color: rgb(204, 50, 50);
}
.contact-form textarea
{
    width:100%;
    height:70px;
    outline: none;
}
.contact-form label
{
    text-transform: capitalize;
}

.rowww{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
    margin: auto;
    width:50%;
}

.icon
{
    font-size: 2rem;
    text-align: center;
    color:red;
    width:100%;
    margin: 20px auto;
}
.info-heading
{
    text-transform: uppercase;
    text-align: center;
    font-size:1.3rem;
    font-weight:400;
    margin-bottom: 30px;
}
.address_card,.number_card,.email_card
{
    width:33.33%;
    text-align:center;
    min-height:300px;
    padding:0px 60px;
}
/************** FOOTER *****************/

footer
{
    background-color: #333;
    padding: 30px 0;
}
.footer-links
{
  display: flex;
  align-items: center;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width:80%;
}
.quick-links,.social-links
{
  list-style: none;
  margin-bottom: 10px;
}
.quick-links li , .social-links li
{
  display: inline-block;
  color:#888;
  margin-right: 10px;
}
.quick-links li a , .social-links li a
{
  text-decoration: none;
  color: #888;
}
.quick-links li a:hover , .social-links li a:hover
{
  color:white;
}
footer p
{
    text-align: center;
    color:white;
    font-size: 0.9rem;
    padding-top:50px;
}



/*************** CARDS HTML ************************/



.first_box,
.second_box
{
  display: flex;
  justify-content: space-around;
  width:50%;
}
.company_section
{
  padding:100px 0;
  background-color: #f4f4f4;
}
.company_heading,.contact_heading
{
  text-align:center;
  font-size:1.9rem;
  text-transform: uppercase;
  padding-bottom:100px;
}
.company_heading:after,.contact_heading:after
{
  display:block;
  height:2px;
  width:150px;
  background-color:red;
  content:" ";
  margin:30px auto;
  transform: translateY(0);
}

.card_content
{
  width:100%;
  padding:10px 50px ;
}
.card:hover
{
  box-shadow: 1px 1px 15px  rgba(0,0,0,0.3);
  transform: translateY(-2px);
}

.card_heading
{
  text-align: center;
  text-transform: uppercase;
  font-size:1.3rem;
  font-weight: 400;
  color:black;
  height:50px;
}
.card_img
{
  height:130px;
}
.card_img:after
{
  content:" ";
  display: block;
  height:2px;
  width:70%;
  background-color: red;
  margin:0 auto;
}
.card_img-logo
{
  width:100%;
  text-align: center;
}
.roww{
  display: flex;
  align-items: center;
  flex-wrap:wrap;
  justify-content: space-around;
  margin: auto;
  width:80%;
}
.col-4{
  flex-basis:23.5%;
  padding:10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  background-color: white;
  border-top: 2px solid red;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 3px rgba(0,0,0,0.3);
}
.col-4:hover
{
  box-shadow: 1px 1px 15px  rgba(0,0,0,0.3);
  transform: translateY(-2px);
}

